.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background-image: linear-gradient(to bottom, #1BA893 0%, #54B7A8 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-success {
  background-image: linear-gradient(to bottom, #1EC481 0%, #48D7A4 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-info, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-info {
  background-image: linear-gradient(to bottom, #168DEE 0%, #40ADF4 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-warning, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background-image: linear-gradient(to bottom, #FF7E39 0%, #FFA264 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-danger {
  background-image: linear-gradient(to bottom, #FF394F 0%, #FF6479 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-red, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-red {
  background-image: linear-gradient(to bottom, #D32F2F 0%, #EF5350 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-pink, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-pink {
  background-image: linear-gradient(to bottom, #C2185B 0%, #EC407A 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-purple, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-purple {
  background-image: linear-gradient(to bottom, #7B1FA2 0%, #AB47BC 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-blue, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-blue {
  background-image: linear-gradient(to bottom, #1976D2 0%, #42A5F5 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-cyan, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-cyan {
  background-image: linear-gradient(to bottom, #0097A7 0%, #26C6DA 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-teal, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-teal {
  background-image: linear-gradient(to bottom, #00796B 0%, #26A69A 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-yellow, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-yellow {
  background-image: linear-gradient(to bottom, #FBC02D 0%, #FFEE58 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-amber, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-amber {
  background-image: linear-gradient(to bottom, #FFA000 0%, #FFCA28 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-blue-grey, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-blue-grey {
  background-image: linear-gradient(to bottom, #455A64 0%, #78909C 100%);
  background-repeat: repeat-x; }

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-grey-blue, .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-grey-blue {
  background-image: linear-gradient(to bottom, #404E67 0%, #78909C 100%);
  background-repeat: repeat-x; }
